[Package]
version: 2
depends: 
incremental: False

[Product]
type: localboot
id: dfn_scribus
name: Scribus
description: Seitenlayoutprogramm (Desktop-Publishing, DTP) zur flexiblen Gestaltung von Dokumenten (Text, Bilder und Vektoren) und für professionelle Druckausgabe (u.a. PDF/X-3, CMYK, Farbmanagament)
advice: 
version: 1.4.5
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup64.opsiscript
uninstallScript: uninstall64.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductDependency]
action: setup
requiredProduct: dfn_ghostscript
requiredStatus: installed
requirementType: before

[ProductProperty]
type: unicode
name: install_architecture
multivalue: True
editable: False
description: Betriebssystem-Architektur 32/64 Bit
values: ["32 only", "64 only", "both", "system specific"]
default: ["system specific"]

[ProductProperty]
type: unicode
name: desktopicon
multivalue: False
editable: False
description: Icon on Desktop
values: ["no", "yes"]
default: ["no"]

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[Changelog]
dfn_scribus (1.4.5-2)
	* Umstrukturierung setup/delsub
	* Check auf 64bit in delsub
	* $ProductId$ in den OPSI-Skripten gleichgezogen wie in 'control'
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 16.07.2015

dfn_scribus (1.4.5-1)
	* initiale DFN-Paket-Version
	* nur 64-Bit-Version
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 14.07.2015






















































