[Package]
version: 2
depends: 

[Product]
type: localboot
id: dfn_scribus
name: Scribus
description: Seitenlayoutprogramm (Desktop-Publishing, DTP) zur flexiblen Gestaltung von Dokumenten (Text, Bilder und Vektoren) und für professionelle Druckausgabe (u.a. PDF/X-3, CMYK, Farbmanagament)
advice: 
version: 1.4.7
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup64.opsiscript
uninstallScript: uninstall64.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductDependency]
action: setup
requiredProduct: dfn_ghostscript
requiredStatus: installed
requirementType: before

[ProductProperty]
type: bool
name: desktop-link
description: Link on Desktop?
default: False

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[Changelog]
dfn_scribus (1.4.7-2)
	* neues o4i-Logo
	* neue Registrysuche (https://github.com/opsi4instituts/lib, winst-Version 4.12.0.16 Voraussetzung)
	* Verwendung uib_exitcode (local function)
	* Check Version (Paket <-> Installation)
-- David Dams (archIT/KIT) <david.dams9@kit.edu>, 07.01.2019

dfn_scribus (1.4.7-1)
	* Neue Upstreamversion (https://www.scribus.net/scribus-1-4-7-and-1-5-4-released/)
	* install_architecture entfernt, da nur 64-Bit-Version enthalten
	* o4i-Logo sowie eigenes Logo möglich
	* DesktopLink gem. o4i-Richtlinie
	* alte uib Copyrights (Überbleibsel von opsi-template) entfernt
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 03.05.2018

dfn_scribus (1.4.6-3)
	* Update Upstream
	* kleinere Umstellungen
	* Logo hinzugefügt
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 14.01.2016

dfn_scribus (1.4.5-2)
	* Umstrukturierung setup/delsub
	* Check auf 64bit in delsub
	* $ProductId$ in den OPSI-Skripten gleichgezogen wie in 'control'
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 16.07.2015

dfn_scribus (1.4.5-1)
	* initiale DFN-Paket-Version
	* nur 64-Bit-Version
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 14.07.2015

























































